Magic 271485
Revision Verdi_P-2019.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 54 237 1973 721 224 213

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/RAID2/COURSE/iclab/iclab105/Desktop/Lab05/Practice/01_RTL/QS.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 80800.000000
cursor 32500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 12

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/RAID2/COURSE/iclab/iclab105/Desktop/Lab05/Practice/01_RTL/QS.fsdb"
addSignal -h 15 /TESTBED/My_QS/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope in_valid
addSignal -h 15 -holdScope in_data[7:0]
addSignal -h 15 -holdScope in_buffer[7:0]
addSignal -h 15 -holdScope action
addSignal -h 15 -holdScope act
addSignal -h 15 -holdScope len[3:0]
addSignal -h 15 -holdScope cs[1:0]
addSignal -h 15 -holdScope ns[1:0]
addSignal -h 15 -holdScope count[3:0]
addSignal -h 15 -holdScope sram_d[7:0]
addSignal -h 15 -holdScope sram_a[3:0]
addSignal -h 15 -holdScope sram_q[7:0]
addSignal -h 15 -holdScope sram_wen
addSignal -h 15 -holdScope out_data[7:0]
addSignal -h 15 -holdScope out_valid
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/RAID2/COURSE/iclab/iclab105/Desktop/Lab05/Practice/01_RTL/QS.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/TESTBED"

SCOPE_LIST_BEGIN
"/TESTBED"
"/TESTBED/My_QS"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


